.hide-modal {
	display: none !important;
}


.modal-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-dialog {
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.2);
	width: 25%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

input {
	margin-bottom: 10px;
	padding: 5px;
	background-color: gray;
	width: 90%;
}

span,
label {
	color: darkslateblue;
}